<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <style>

        body {
            width: 210mm !important;
            height: 297mm !important;
            background-color: white !important;
            margin: 0mm 0mm 0mm 0mm !important;
        }

        @page {
            margin: 0;
        }

        .content-wrapper {
            padding: 0px !important;
        }

        .wrapper {
            background-color: white;
        }

        .pdf-grid tr {
            height: 5mm;
        }

        .pdf-grid td {
            height: 5mm;
        }

        .pdf-col1 {
            width: 6.5mm;
        }

        .pdf-col2 {
            width: 13mm;
        }

        .pdf-col4 {
            width: 25mm;
        }

        .pdf-col11 {
            width: 71.5mm;
        }

        .pdf-col12 {
            width: 78mm;
        }

        .pdf-col15 {
            width: 97.5mm;
        }

    </style>
</head>
<body>

        <div class="pdf-page">
            <table align="center" class="pdf-grid" border="1" class="pdf-grid">

                <tr>
                    <td class="pdf-col2" rowspan="2"></td>
                    <td class="pdf-col15" rowspan="15">Europese gemeenschap</td>
                    <td class="pdf-col4"  rowspan="4">1 AANGIFTE</td>
                    <td class="pdf-col11" rowspan="12">A KANTOOR VAN VERZENDING/UITVOER/BESTEMMING</td>
                </tr>

            </table>
        </div>


</body>
</html>
